extends base
block content 
    .forms-container
        .peronal-details-container
            form.personal-update-form
            .personal-update-form-box
                input(type='text' title='update name' name='name' value=`${user.name}`)
            .personal-update-form-box
                -const date = new Date(user.dob)
                input(type='date' name='dob' id='' title='Update date of birth' value=``)
            .personal-update-form-box
                input(type='text' name='nationality' id='' title='Change nationality' value=`${user.nationality}`)
            .personal-update-form-box
                input(type='text' name='address' id='' title='Change Digital Address' value=`${user.digitalAddress}`)
            .personal-update-form-box
                select(name='region' id='')
            .personal-update-form-box
                input(type='text' name='phoneNumber' id='' title='Change Phone Number' value=`${user.phoneNumber}`)
            .personal-update-form-box.photo-box
                input#photo.photoEl(type='file' name='profilePhoto' accept='image/*' style='display: none')
                img.new-image(src=`/${user.photo}` alt='')
                label(for='photo')
                    | Change photo 
                    ion-icon(name='image-outline')
            .personal-update-form-box.company-box
                input(type='text' name='companyName' id='' title='Change Company Name' value=`${user.companyName}`)
            .personal-update-form-box
                input(type='text' name='companyLocation' id='' title='Change Company Location' value=`${user.companyLocation}`)
            .personal-update-form-box
                input(type='text' name='phoneNumber' id='' title='Change Phone Number' value=`${user.phoneNumber}`)
            .update-button-box
                button.btn.btn-update Update details
        .change-password-container
            form.update-password-form(action='')
                .current-password-box.box
                    input(type='text' name='currentPassword' id='' title='Enter Current Password' placeholder='Current Password')
                .new-password-box.box
                    input(type='text' name='password' id='' title='Enter New Password' placeholder='New Password')
                .new-password-box.box
                    input(type='text' name='passwordConfirm' id='' title='Re-Enter Password' placeholder='Re-Enter Password')
                .update-password-button-box
                    button.btn.btn-password-update Update password 

    