extends base
block content 
    .scan-page-container
        header.details-header
            h3.full-name AHABA NDURO NKABOM KUO
            h4.acronym (ANNK)
        .profile-pic
            img(src=`/${photo}` alt=`${name.split(" ")[0]}'s photo`)
        .details-box
            h4.name
                span Name :
                span T/Dr. #{name}
            h4.name
                span Gender :
                span #{gender}
            h4.name
                span Position :
                span #{position}
